

.inter-1 {
  font-family: "Inter", sans-serif;
}



.raleway-1 {
  font-family: "Raleway", sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 50px 100px 50px 100px;
}

.logo {
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
}

.sign-up, .stay-focused{
    font-weight: bold;
    font-size: 16;
    padding: 10px 20px;
    background-color: #4E47FF;
    color: white;
    border-radius: 5px;
    border: none;
}


.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    text-align: center;
    background-size: cover;
    color: #4E47FF;
}

.h1-1{
    font-size: 65;
    font-weight: bold;
    color: black;
}